.footer{
    width: 98%;
    height: 5vh;
    margin-left: 3px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 5px;
  }